* {
	box-sizing: border-box;
}

body {
	width: 60%;
}

button {
	width: 90px;
	cursor: pointer;
}

.letters {
	width: 20px;
	height: 20px;
}

.center {
	text-align: center;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	justify-content: center;
}

.auto {
	margin: auto;
}

.green {
	background-color: green;
}

.red {
	background-color: red;
}
